{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-css-order", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["classNames", "clsx", "cn"]
}
